@media screen and (max-width: 734px){
    .hello{
        font-size: 48px;
    }
    .text{
        font-size: 50px;
    }
}

@media screen and (max-width: 671px){
    .hello{
        font-size: 33px;
    }
    .text{
        font-size: 35px;
    }
}
@media screen and (max-width: 480px){
    .hello{
        font-size: 31px;
    }
    .text{
        font-size: 33px;
    }
}




@media screen and (max-width: 412px){
    .hello{
        font-size: 20px;
    }
    .text{
        font-size: 22px;
    }
}

@media screen and (max-width:360px){
    .hello{
        font-size: 18px;
    }
    .text{
        font-size: 20px;
    }
}


