*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Josefin Sans', sans-serif;
    color: #fff;
}
.hero{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url(img/bg.jpg) no-repeat center top/cover;
    position: relative;
    color: #fff;
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hello{
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}
.text{
    font-size: 55px;
    font-weight: 300;

}
.ah-headline.clip .ah-words-wrapper::after{
   background: #fff;
}